html {
  background: rgba(0, 0, 0, 0.75);
}

body {
  color: white;
  font-family: "Avenir Next", sans-serif;
  font-size: 120%;
  font-weight: 400;
  margin: 0 auto;
  max-width: 800px;
}

b {
  font-weight: 700;
}

h2 {
  font-size: 250%;
  font-weight: 800;
  margin: auto;
}

p {
  line-height: 1.6;
}

li {
  list-style-type: square;
  margin: 0.5em auto 0.5em auto;
  padding-left: 0.5em;
}

a {
  color: inherit;
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
a:hover, a:focus {
  border-bottom: 0.1em solid white;
}

section {
  border-bottom: 0.5em solid gray;
  padding: 2em;
  transition: all 200ms ease-in;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}
section:nth-child(1):hover, section:nth-child(1):focus {
  transform: scale(1.05) translateY(2%);
  background: black;
  color: white;
  border: 1em solid white;
}
section:nth-child(2):hover, section:nth-child(2):focus, section:nth-child(3):hover, section:nth-child(3):focus {
  transform: scale(1.05);
  background: black;
  color: white;
  border: 1em solid white;
}

.example {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.example img {
  margin: 1em 0 1em 0;
}
.example img {
  -webkit-filter: blur(5px);
  transition: all 0.25s ease-in-out;
  width: 45%;
}
.example img:hover, .example img:focus {
  -webkit-filter: none;
}
.example p {
  width: 50%;
}

p#backhome {
  margin-bottom: 0;
  padding: 0 0 2em 0;
  text-align: center;
}

@media (max-width: 740px) {
  section:nth-child(1):hover, section:nth-child(1):focus, section:nth-child(2):hover, section:nth-child(2):focus, section:nth-child(3):hover, section:nth-child(3):focus {
    transform: none;
    border: initial;
  }

  .example {
    display: initial;
  }
  .example img {
    margin-bottom: initial;
    width: 100%;
  }
  .example p {
    margin-bottom: 1em;
    width: initial;
  }
}
