html {
  border: 1em solid #ff4d4d;
  box-sizing: border-box;
  min-height: 100vh; }

body {
  background: #ffb3b3;
  color: #ff4d4d;
  font-family: "Whitney SSm A", "Whitney SSm B", "Avenir Next", sans-serif;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic; }

main {
  width: 80%;
  max-width: 800px;
  margin: 5vw auto;
  padding: 1vh;
  text-align: center; }
  main > :not(.heart-container) {
    -webkit-transition: transform 100ms ease-in-out;
    -moz-transition: transform 100ms ease-in-out;
    -o-transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out; }
    main > :not(.heart-container):hover, main > :not(.heart-container):focus {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }
  main a {
    color: inherit;
    text-decoration: none; }
  main * {
    background: white;
    padding: 0.5em; }

.heart-container {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  margin-top: 1em auto 1em auto; }
  .heart-container h2 {
    width: 40%;
    color: #ff4d4d; }
  .heart-container img {
    -webkit-animation: heartbeat 0.9s infinite;
    -moz-animation: heartbeat 0.9s infinite;
    animation: heartbeat 0.9s infinite;
    width: 50%; }
  .heart-container p {
    font-size: x-large; }

footer p {
  color: white;
  font-size: x-small;
  margin: auto;
  text-align: center;
  width: 200px; }

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75); }
  20% {
    -webkit-transform: scale(1); }
  40% {
    -webkit-transform: scale(0.75); }
  60% {
    -webkit-transform: scale(1); }
  80% {
    -webkit-transform: scale(0.75); }
  100% {
    -webkit-transform: scale(0.75); } }
@-moz-keyframes heartbeat {
  0% {
    -moz-transform: scale(0.75); }
  20% {
    -moz-transform: scale(1); }
  40% {
    -moz-transform: scale(0.75); }
  60% {
    -moz-transform: scale(1); }
  80% {
    -moz-transform: scale(0.75); }
  100% {
    -moz-transform: scale(0.75); } }
@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  40% {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75); }
  60% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  80% {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75); } }
@media (max-width: 740px) {
  .heart-container h2, .heart-container img {
    width: 100%; } }
