html {
  border: 10px solid rgba(255, 0, 0, 0.5);
  box-sizing: border-box;
  min-height: 100vh; }

body {
  background: #ffc2cc;
  color: rgba(255, 0, 0, 0.65);
  font-family: "Whitney SSm A", "Whitney SSm B", "Avenir Next", sans-serif;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic; }

main {
  width: 80%;
  max-width: 800px;
  margin: 5vw auto;
  padding: 1vh;
  text-align: center; }
  main > :not(.heart-container) {
    transition: transform 100ms ease-in-out; }
    main > :not(.heart-container):hover, main > :not(.heart-container):focus {
      transform: scale(1.05); }
  main a {
    color: inherit;
    text-decoration: none; }
  main * {
    background: white;
    padding: 0.5em; }

.heart-container {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em auto 1em auto; }
  .heart-container h2 {
    width: 40%;
    color: rgba(255, 0, 0, 0.65); }
  .heart-container img {
    animation: heartbeat 0.9s infinite;
    width: 50%;
    color: rgba(255, 0, 0, 0.65); }
  .heart-container p {
    font-size: x-large; }

footer p {
  color: white;
  font-size: x-small;
  margin: auto;
  text-align: center;
  width: 200px; }

@keyframes heartbeat {
  0% {
    transform: scale(0.75); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.75); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.75); }
  100% {
    transform: scale(0.75); } }
@media (max-width: 740px) {
  .heart-container h2, .heart-container img {
    width: 100%; } }
