$resume: lighten(forestgreen, 15%)
$dental: rebeccapurple
$github: rgba(139, 0, 0, 0.75)
$blog: darken(orange, 5%)
$twitter: lighten(navy,35%)
$instagram: darken(saddlebrown, 5%)
$email: darken(yellow, 5%)

body
	align-items: center
	background: cornflowerblue
	color: white
	display: flex
	font-family: "Archer Heavyweight A", "Archer Heavyweight B", "Avenir Next", sans-serif
	font-size: 5vw
	font-weight: 900
	justify-content: center
	line-height: 1.15
	margin: 0
	min-height: 100vh
	min-width: 100vw

main
	margin: 0

p
	margin: 0
	transition: all 200ms ease-in-out

	&:hover, &:focus
		background: lighten(black,10%)
		padding: 0.5em
		transform: scale(1.05) rotate(2deg) translateY(2rem)

	&:last-child
		margin-top: 0.75em

		&:hover, &:focus
			transform: scale(1.05) rotate(-2deg) translateY(-2rem)

a
	text-decoration: none

a.resume
	color: $resume

a.dental
	color: $dental

a.github
	color: $github

a.blog
	color: $blog

a.twitter
	color: $twitter

a.instagram
	color: $instagram

a.email
	color: $email

.fly-in
	animation: fly-in 300ms ease-in

	&:last-of-type
		animation-duration: 500ms

@keyframes fly-in
	0%
		transform: scale(20)
		opacity: 0
	50%
		transform: scale (1)
		opacity: 1
	90%
		transform: translateY()

\:target
	.fly-in
		animation: none

@media (max-width: 740px)
	body
		font-size: 10vw

	main
		padding: 1em

	p:hover, p:focus, p:last-child:hover, p:last-child:focus
		background: initial
		padding: initial
		transform: initial
