$back: lighten(black, 25%)
$middle: lighten(black, 35%)
$front: lighten(black, 20%)

body
	background: $back
	color: white
	display: flex
	flex-direction: column
	font-family: "Whitney SSm A", "Whitney SSm B", "Avenir Next", sans-serif
	font-size: 115%
	font-weight: 300
	justify-content: center
	margin: 0
	min-height: 100vh
	min-width: 100vw

h2
	font-size: 400%
	font-weight: 800
	margin: 0.5em auto 1em
	text-align: center

.arrow
	display: inline-block

p
	line-height: 1.6

a
	color: inherit
	border-bottom: 0.1em solid rgba(255, 255, 255, 0.50)
	padding-bottom: 0.1em
	text-decoration: none
	transition: all 150ms ease-in-out

	&:hover, &:focus
		border-bottom: 0.1em solid white

.projects
	padding: 2em
	transition: background 300ms ease-in-out, transform 150ms ease-in-out
	background: $middle
	color: white
	border: 2em solid darken(white, 15%)
	box-sizing: border-box
	border-radius: 0.5em
	margin: auto
	max-width: 900px
	width: 90%

	&:hover, &:focus
		// transform: scale(1.1)
		background: $front
		border-color: white

		.arrow
			animation: rotate 3s infinite

.example
	align-items: center
	display: flex
	justify-content: space-between
	margin: 2em 0
	transition: all 250ms ease-in-out

	&:nth-child(odd)
		p
			order: 1
			text-align: right
		a
			order: 2

	// Removes boder from links that have the screenshots
	> a
		border-bottom: none
		width: 45%

	.screenshot
		border-radius: 0.5em
		object-fit: cover
		height: 300px
		width: 100%

	p
		width: 50%

	*:not(a)
		transition: transform 200ms ease-in-out

		&:hover, &:focus
			transform: translateX(0.25em)

	&:last-child
		margin-bottom: 0

	&:hover, &:focus
		background: lighten($front, 10%)
		border-radius: 0.5em
		padding: 2em

.back-message
	margin-bottom: 0
	padding: 0 0 2em 0
	text-align: center

// The arrow on the h2's
@keyframes rotate
	0%
		transform: rotateX(0deg)
	50%
		transform: rotateX(180deg)
	100%
		transform: rotateX(0deg)

// Whole page dissolves in
.dissolve
	animation: dissolve 2s ease

@keyframes dissolve
	from
		opacity: 0
	to
		opacity: 1

code
	background: gray
	border-radius: 0.25em
	font-family: Menlo, monospace
	font-size: 85%
	padding: 0.15em 0.25em

@media (max-width: 740px)
	body
		font-size: 120%

	h2
		font-size: 12vw
		margin: auto
		padding: 1em

	.projects
		padding: initial
		border: initial
		border-radius: initial
		width: 100%

	.example
		display: initial

		&:hover, &:focus
			background: inherit
			border-radius: 0
			padding: inherit

		p
			padding: 1em
			width: calc(100% - 2em)

		.screenshot
			border-radius: 0

		&:nth-child(odd)
			p
				text-align: initial
