doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="This is what I've done")
		meta(name="keywords" content="design, web design, web, blogging, blog, resume")
		title Anthony Craig's Resume
		link(rel="shortcut icon" href="/img/favicon.png")
		link(rel="apple-touch-icon-precomposed" href="/img/favicon-square.png" title="Site Favicon")
		link(rel="mask-icon" href="/img/heart.svg" color="rgba(298, 2, 27, 0.5)" title="Safari Pinned Tabs Icon")

		// Open Graph and Twitter Cards
		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Anthony Craig")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Anthony Craig")
		meta(property="article:author" content="https://www.facebook.com/toniwonkanobi")
		meta(property="og:description" content="This is what I've done.")
		meta(property="og:image" content="/img/anthonycraig.jpg")
		meta(name="twitter:site" content="@toniwonkanobi")
		meta(name="twitter:creator" content="@toniwonkanobi")
		meta(name="twitter:title" content="Anthony Craig")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="This is what I've done.")
		meta(name="twitter:image" content="/img/anthonycraig.jpg")

		// Stylesheets
		link(rel="stylesheet" type="text/css" href="css/styles-resume.css")

		// Google Analytics
		include partials/_google-analytics

	body
		main
				section#education
					h2
						span.arrow » 
						|  Education
					ul
						li 
							b Doctor of Dental Surgery
							br
							| Loma Linda University
							br
							| Loma Linda, CA

						li
							b Bachelor's of Science, Chemistry
							br
							| Pacific Union College
							br
							| Angwin, CA

					p You'll notice my educational background doesn't include a formal web design or development background.
					p I'm pretty much self-taught.
					p I'm a quick learner, so my DIY approach to web design has been both incredibly frustrating, 
						em and
						|  incredibly rewarding.

				section#skills
					h2
						span.arrow »
						|  Skills
					ul
						li HTML
							ul
								li: a(href="https://en.wikipedia.org/wiki/Semantic_Web" title="Semantic web on Wikipedia") Semantic
								li: a(href="http://blog.pluralsight.com/html5-web-components-overview" title="Div soup post") Div Soup
								li: a(href="http://jade-lang.com" title="Jade language") Jade

						li CSS
							ul
								li: a(href="http://sass-lang.com" title="Sass page") Sass
									ul
										li SCSS
										
								li: a(href="http://lesscss.org" title="Less language") Less

						li JavaScript 
							span.caveat (Minimal)
							ul
								li Node 
									span.caveat (Minimal)

				section#examplework
					h2
						span.arrow »
						|  Works
					.example
						a(href="http://theoveranalyzed.net" title="Link to TheOverAnalyzed")
							img(src="/img/toascreenshot.png" title="TheOverAnalyzed" alt="Screenshot of my blog")
						p
							a(href="http://theoveranalyzed.net" title="Link to my blog") TheOverAnalyzed 
							| was my first website, built using Camel (
							a(href="https://i.ytimg.com/vi/gEJuvFhSPfQ/maxresdefault.jpg" title="Silly Han Solo.") I've made a lot of special modifications  myself
							| ). 
							| I designed everything from the layout, to the logo, to the wordmark.

					.example
						a(href="http://anthonycraigdds.com" title="Link to my dental website")
							img(src="/img/acddsscreenshot.png" title="Anthony Craig, DDS")
						p
							a(href="http://anthonycraigdds.com" title="Link to my dental website") My professional website
							|  is much simpler than my blog. I built it from scratch, and it's hosted via GitHub Pages (like a true nerd). Like my blog, I made a "
							a(href="http://anthonycraigdds.com//img/tooth.svg" title="Pinned tabs logo") logo
							| " and used that for my 
							a(href="https://developer.apple.com/library/mac/releasenotes/General/WhatsNewInSafari/Articles/Safari_9.html" title="Safari 9.0 features") Safari Pinned Tabs 
							| glyph.
						
					.example
						a(href="http://allisoncraigdds.com" title="Link to Allison's dental website")
							img(src="/img/acddsscreenshot2.png" title="Allison's dental website" alt="Allison's dental website")
						p This 
							a(href="http://allisoncraigdds.com" title="Allison's dental website") website
							|  started out as a class project for my wife's last year of school. Many of the images and texts are placeholders, but the design still holds strong. Quirky and overly-cute&mdash;this is my third GitHub Pages project (my second is this website).

		footer
			p#backhome: a(href="/" rel=index title="Back to the homepage") Back to the frontpage
