doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Happy Valentine's Day")
		meta(name="keywords" content="valentine's day, Allison")
		title Happy Valentine's Day Allison!
		include partials/_favicons

		// Open Graph and Twitter Cards
		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Anthony Craig")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Anthony Craig")
		meta(property="article:author" content="https://www.facebook.com/toniwonkanobi")
		meta(property="og:description" content="This is a Valentine's Day present for Allison (2016)")
		meta(property="og:image" content="/img/anthonycraig.jpg")
		meta(name="twitter:site" content="@toniwonkanobi")
		meta(name="twitter:creator" content="@toniwonkanobi")
		meta(name="twitter:title" content="Anthony Craig")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="This is a Valentine's Day present for Allison (2016)")
		meta(name="twitter:image" content="/img/anthonycraig.jpg")

		// Stylesheets
		include partials/_stylesheets

		// Google Analytics
		include partials/_google-analytics

	body#valentines-2016
		.container
			main
				h1 // Allison

				.heart-container
					h2 This heart beats only for you
					img(src="/img/valentines-heart.svg" alt="Heart" title="Heart")

				p (It's the same for my heart)
				p Happy Valentine's Day
				p I love you so much //

			footer
				p Saturday, February 13, 2016
