doctype html
html(lang="en")
	head
		title Happy Valentine's Day!
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", type="text/css", href="css/valentines2016.css")
		link(rel="stylesheet", type="text/css", href="//cloud.typography.com/7099154/6654952/css/fonts.css")
		
	body
		.container
		
			main
			
				h1 // Allison
					
				.heart-container
				
					h2 This heart beats only for you
				
					img(src="images/full.svg", alt="Heart", title="Heart yup")
				
				p (It's the same for my heart)
				
				p Happy Valentine's Day
				
				p I love you so much //
				
			footer
			
				p Sunday, February 14, 2016
