doctype
html.toni
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="This is who I am")
    title Anthony Craig
    include partials/_favicons

    //- Open Graph and Twitter Cards
    meta(property="og:locale" content="en_US")
    meta(property="og:site_name" content="Anthony Craig")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Anthony Craig")
    meta(property="article:author" content="https://www.facebook.com/toniwonkanobi")
    meta(property="og:description" content="This is who I am.")
    meta(property="og:image" content="/img/anthonycraig.jpg")
    meta(name="twitter:site" content="@toniwonkanobi")
    meta(name="twitter:creator" content="@toniwonkanobi")
    meta(name="twitter:title" content="Anthony Craig")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:description" content="This is who I am.")
    meta(name="twitter:image" content="/img/anthonycraig.jpg")

    //- Stylesheets
    link(rel="stylesheet" type="text/css" href="css/styles.css")
    link(rel="stylesheet" type="text/css" href="//cloud.typography.com/7099154/6654952/css/fonts.css")
    link(rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.min.css")
    
    //- WOW.js Animations
    script(src="bower_components/wow/dist/wow.min.js")
    script new WOW().init();

    //- Google Analytics
    include partials/_google-analytics

  body#back
    main.main.wow.zoomInUp(data-wow-duration="1s")
      p.first-paragraph
        <a class="resume" href="/portfolio" title="Resume slash portfolio page">Anthony Craig</a> is an everyday <a class="dental" href="http://anthonycraigdds.com" title="Link to my professional persona">tooth carpenter</a>, a wannabe <a class="github" href="https://github.com/ToniWonKanobi" title="Me on GitHub">nerd</a><a class="oxford-comma wow flash data-wow-delay="1.5s" data-wow-duration="4s" data-wow-iteration="1.5" href="https://en.wikipedia.org/wiki/Serial_comma" title="Wikipedia: Oxford comma">,</a> and an occasional <a class="blog" href="http://theoveranalyzed.net" title="My blog">blogger</a>.

      p.second-paragraph You can follow his <a class="twitter" href="https://twitter.com/toniwonkanobi" title="Me on Twitter">tweets</a>, look at his <a class="instagram" href="https://www.instagram.com/toniwonkanobi/" title="Me on Instagram">pictures</a><a class="oxford-comma wow flash" data-wow-delay="1.5s" data-wow-duration="4s" data-wow-iteration="1.5" href="https://en.wikipedia.org/wiki/Serial_comma" title="Wikipedia: Oxford comma">,</a> and send him an <a class="email" href="mailto:hi@anthonycraig.me?subject=Hello%20atypical%20designer.%20My,%20you%20have%20great%20design!" title="Send an email to the guy who made this website">email<a>.
