link(rel="index" href="/" title="Anthony Craig")
link(rel="shortcut icon" href="/img/favicon.png")
link(rel="apple-touch-icon-precomposed" href="/img/favicon-square.png" title="Site Favicon")
link(rel="mask-icon" href="/img/heart.svg" color="rgba(298, 2, 27, 0.5)" title="Safari Pinned Tabs Icon")
